<h1>Perfiles de <%= @profile_type %></h1>
<%= link_to "<i class='fa fa-plus'></i> Registrar perfil".html_safe, new_profile_path( d_type: params[:d_type] ),remote: true, 
            class: 'btn u-btn-outline-indigo u-btn-hover-v1-2 mb-2' %>
<button class="btn u-btn-teal mb-2" onclick="hide_table('profiles_table')"> <i class="fa fa-eye"></i> </button>

<%= render( partial: 'shared/table', 
            locals: { table_id: 'profiles', 
                      color: 'blue', 
                      icon: 'fa-gear',
                      title: "Perfiles registrados", 
                      col_names: [ 'Perfil', 'Inicio vigencia', 'Fin vigencia','Estado','Descripcion','Acciones' ] }) %>

<%= link_to "<i class='fa fa-plus'></i> Agregar documento a un perfil".html_safe, new_documents_profile_path( d_type: params[:d_type] ),remote: true, 
            class: 'btn u-btn-outline-purple u-btn-hover-v1-2 mb-2' %>
<button class="btn u-btn-teal mb-2" onclick="hide_table('documents_profiles_table')"> <i class="fa fa-eye"></i> </button>
<%= render( partial: 'shared/table', 
            locals: { table_id: 'documents_profiles', 
                      color: 'purple', 
                      icon: 'fa-gear',
                      title: "Documentos asignados a perfiles", 
                      col_names: [ 'Perfil', 'Documento', 'Inicio vigencia','Fin vigencia','Estado','Acciones' ] }) %>

<!-- Modal para eliminar profile -->
<div class="modal fade" id="modal-disable-profile" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">¿ Esta seguro de dar de baja este perfil ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with(url: disable_profile_path, id: 'form-disable-profile') do |form| %>
          <%= form.hidden_field :profile_id %>
          <div class="form-group g-mb-10">
            <%= form.label :end_date, 'Fecha finalización vigencia:', class: "col-form-label" %>
            <%= form.date_field :end_date, class: "form-control u-form-control"%>
            <small class="form-control-feedback text-danger end_date"></small>
          </div>
          <%= form.submit 'Eliminar', class: 'btn u-btn-red g-mr-10' %>
          <button type="button" data-dismiss="modal" class="btn u-btn-teal g-mr-10"> Cerrar </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- Fin modal eliminar profile -->