<p id="notice"><%= notice %></p>

<p>
  <strong>D type:</strong>
  <%= @profile.d_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @profile.start_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @profile.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @profile.active %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
