<%= form_with(model: @clothing_package, id: 'form-clothing-package', 
  class: 'needs-validation g-brd-around g-brd-gray-light-v4 g-pa-10 g-mb-10') do |form| %>
  <div class="form-group row">
    <%= form.label :name, 'Nombre: ', class: 'col-form-label col-sm-3 col-md-4' %>
    <div class="col-sm-9 col-md-6">
      <%= form.text_field :name, class: 'form-control', required:true %>
      <small class="invalid-feedback company_name"></small>
    </div>
  </div>
  
  <div class="form-group row">
    <%= form.label :expiration_type_id, 'Periodo de vencimiento' ,class:'col-form-label col-sm-3 col-md-4' %>
    <div class="col-sm-8 col-lg-6">
      <%= form.select(:expiration_type_id, ExpirationType.actives.collect { |e| [e.name, e.id, data: { days: e.days }] }, { include_blank: true},
                      onchange: 'clothing_package.set_expiration_days()',
                      class: 'form-control select-2-expiration-type') %>
    <small class="form-control-feedback text-danger days_of_validity"></small>
    </div>
 </div>

 <div class="form-group row" style="display: none">
    <%= form.label :days_of_validity, 'Valido durante',class:'col-form-label col-sm-3 col-md-4' %>
    <div class="col-sm-9 col-md-6 ">
      <%= form.text_field :days_of_validity, class: 'form-control', placeholder: 'Cada cuantos días hay que entregar este pack' %>
      <small class="form-control-feedback text-danger clothing_package_days_of_validity"></small>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :description, 'Descripción:', class: 'col-form-label col-sm-3 col-md-4' %>
    <div class="col-sm-9 col-md-6">
      <%= form.text_area :description, class: 'form-control u-textarea-expandable g-resize-none', rows: 3 %>
    </div>
  </div>

  <div class="u-heading-v1-1 g-bg-main g-brd-primary g-mb-20">
    <h2 class="h5 u-heading-v1__title">Agregar ropa</h2>
  </div>

  <div class="row">
      <div class="col-8">
        <%= form.select(:clothe_id, Clothe.actives.collect {|c| [c.name, c.id]}, { include_blank: true},
                      class: 'form-control select-clothe') %>
        <small class="form-control-feedback text-danger clothes"></small>
      </div>
      <div class="col-4">
        <button id='add_clothe' type="button" class="btn u-btn-purple" onclick="clothing_package.add_clothe()"><i class="fa fa-plus"></i></button>
      </div>
  </div>

  <table class="table table-sm table-hover col-10 mt-4 mb-4">
    <thead class="thead-light"> 
      <tr>
        <th colspan="2"> Ropa </th>
      </tr>
      <tbody id="list_clothes">
        <% @clothing_package.clothes_packs.each do |data| %>
          <tr id="clothes_pack_<%= data.id %>">
            <td> <%= data.clothe.name %> </td>
            <td><button type="button" class='btn btn-sm u-btn-red text-white' 
                  title='Eliminar' 
                  onclick='modal_disable_clothes_pack( <%= data.id %> )'>
                  <i class='fa fa-trash-o' aria-hidden='true'></i></button></td>
          </tr>
        <% end %>
      </tbody>
    </thead>
  </table>
  <div class="actions">
    <%= form.submit 'Guardar', class: 'btn u-btn-primary mr-2' %>
    <button type="button" class="btn u-btn-red" data-dismiss="modal">Cerrar</button>
  </div>
<% end %>


<!-- Modal para eliminar ropa de un pack -->
<div class="modal fade" id="modal-disable-clothe-pack" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Se va a eliminar esta prenda del pack</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with(url: disable_clothes_pack_path, id: 'form-disable-clothes-pack') do |form| %>
          <%= form.hidden_field :clothes_pack_id %>
          <%= form.submit 'Eliminar', class: 'btn u-btn-red g-mr-10' %>
          <button type="button" class="btn u-btn-teal g-mr-10" onclick="close_modal('modal-disable-clothe-pack')"> Cerrar </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- Fin modal eliminar ropa de un pack -->