<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vehicle_model.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @vehicle_model.active %>
</p>

<p>
  <strong>Description:</strong>
  <%= @vehicle_model.description %>
</p>

<p>
  <strong>Vehicle brand:</strong>
  <%= @vehicle_model.vehicle_brand %>
</p>

<%= link_to 'Edit', edit_vehicle_model_path(@vehicle_model) %> |
<%= link_to 'Back', vehicle_models_path %>
