<%= form_with(model: @fuel_to_vehicle, class: 'g-brd-around g-brd-gray-light-v4 g-pa-10 g-mb-10', id: 'form-fuel-vehicle') do |form| %>


  <div class="form-group row">
    <%= form.label :vehicle_id, 'Vehiculo (*)', class:'col-form-label col-sm-3 col-md-4' %>
    <div class="col-sm-8 col-lg-6">
      <%= form.select(:vehicle_id, Vehicle.actives.collect {|v| [v.code, v.id]}, { include_blank: true},
                      class: 'form-control select-vehicle', required: true) %>
      <small class="form-control-feedback text-danger fuel_to_vehicle_vehicle_id"></small>
    </div>
  </div>

   <div class="form-group row">
    <%= form.label :fuel_supplier_id, 'Abastecedor (*)', class:'col-form-label col-sm-3 col-md-4' %>
    <div class="col-sm-8 col-lg-6">
      <%= form.select(:fuel_supplier_id, FuelSupplier.actives.collect {|d| [d.name_with_fuel, d.id]}, { include_blank: true},
                      class: 'form-control select-document-profile') %>
      <small class="form-control-feedback text-danger fuel_to_vehicle_fuel_supplier_id"></small>
    </div>
  </div>
  
  <div class="form-group row">
    <%= form.label :date, 'Fecha' ,class:'col-form-label col-sm-3 col-md-4' %>
    <div class="col-9 col-md-6 input-group g-brd-primary--focus">
      <%= form.date_field :date, class: 'form-control' %>
      <small class="form-control-feedback text-danger fuel_to_vehicle_date"></small>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :fuel_type, 'Tipo: ', class: 'col-form-label col-sm-3 col-md-4' %>
    <div class="col-sm-9 col-md-6">
      <select name="fuel_to_vehicle[fuel_type]" id="fuel_to_vehicle_fuel_type" class="form-control" required>
        <option value="">Seleccione el tipo</option>
        <option value="gasoil">Gasoil</option>
        <option value="nafta">Nafta</option>
      </select>
      <small class="form-control-feedback text-danger fuel_to_vehicle_fuel_type"></small>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :fueling, 'Litros: ', class: 'col-form-label col-sm-3 col-md-4' %>
    <div class="col-sm-9 col-md-6">
      <%= form.number_field :fueling, class: 'form-control', required:true %>
      <small class="invalid-feedback fuel_to_vehicle_fueling"></small>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :mileage, 'Kilometraje: ', class: 'col-form-label col-sm-3 col-md-4' %>
    <div class="col-sm-9 col-md-6">
      <%= form.number_field :mileage, class: 'form-control', required:true %>
      <small class="invalid-feedback fuel_to_vehicle_mileage"></small>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :preson_load_id, 'Carga (*)', class:'col-form-label col-sm-3 col-md-4' %>
    <div class="col-sm-8 col-lg-6">
      <%= form.select(:person_load_id, Person.actives.collect {|p| [p.fullname, p.id]}, { include_blank: true},
                      class: 'form-control select-person-load') %>
      <small class="form-control-feedback text-danger fuel_to_vehicle_person_load"></small>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :person_authorize_id, 'Autoriza (*)', class:'col-form-label col-sm-3 col-md-4' %>
    <div class="col-sm-8 col-lg-6">
      <%= form.select(:person_authorize_id, Person.actives.where(can_authorize: true).collect {|p| [p.fullname, p.id]}, { include_blank: true},
                      class: 'form-control select-person-authorize') %>
      <small class="form-control-feedback text-danger fuel_to_vehicle_person_authorize"></small>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :ticket, 'N° de vale: ', class: 'col-form-label col-sm-3 col-md-4' %>
    <div class="col-sm-9 col-md-6">
      <%= form.number_field :ticket, class: 'form-control', required:true %>
      <small class="invalid-feedback fuel_to_vehicle_ticket"></small>
    </div>
  </div>

  <div class="actions">
    <%= form.submit 'Guardar', class: 'btn u-btn-primary mr-2' %>
    <button type="button" class="btn u-btn-red" data-dismiss="modal">Cerrar</button>
  </div>
<% end %>
