<%= form_with(model: @fuel_to_vehicle, class: 'g-brd-around g-brd-gray-light-v4 g-pa-10 g-mb-10', id: 'form-fuel-vehicle') do |form| %>

  <div class="form-group row">
    <%= form.label :vehicle_id, 'Vehiculo (*)', class:'col-form-label col-sm-3 col-md-4' %>
    <div class="col-sm-8 col-lg-6">
      <%= form.select(:vehicle_id, Vehicle.actives.collect {|v| [v.code, v.id, data: { unit: v.unit_load } ] }, { include_blank: true },
                      class: 'form-control select-vehicle', required: true) %>
      <small class="form-control-feedback text-danger fuel_to_vehicle_vehicle_id"></small>
    </div>
  </div>

   <div class="form-group row">
    <%= form.label :fuel_supplier_id, 'Abastecedor (*)', class:'col-form-label col-sm-3 col-md-4' %>
    <div class="col-sm-8 col-lg-6">
      <%= form.select(:fuel_supplier_id, FuelSupplier.actives.collect {|d| [d.name_with_fuel, d.id]}, { include_blank: true},
                      class: 'form-control select-document-profile') %>
      <small class="form-control-feedback text-danger fuel_to_vehicle_fuel_supplier_id"></small>
    </div>
  </div>
  
  <div class="form-group row">
    <%= form.label :date, 'Fecha' ,class:'col-form-label col-sm-3 col-md-4' %>
    <div class="col-9 col-md-6">
      <%= form.date_field :date, class: 'form-control',required: true %>
      <small class="form-control-feedback text-danger fuel_to_vehicle_date"></small>
    </div>
  </div> 

  <div class="form-group row" style="display:none">
    <%= form.label :computable_date, 'Fecha computable', class:'col-form-label col-sm-3 col-md-4' %>
    <div class="col-9 col-md-6">
      <%= form.date_field :computable_date, class: 'form-control' %>
      <small class="form-control-feedback text-danger fuel_to_vehicle_computable_date"></small>
    </div>
  </div>

  <div class="form-group row d-none">
    <%= form.label :fuel_type, 'Combustible: ', class: 'col-form-label col-sm-3 col-md-4' %>
    <div class="col-sm-9 col-md-6">
      <select name="fuel_to_vehicle[fuel_type]" id="fuel_to_vehicle_fuel_type" class="form-control select-fuel-type">
        <option value="">Seleccione el tipo de combustible</option>
        <option value="gasoil">Gasoil</option>
        <option value="nafta">Nafta</option>
      </select>
      <small class="form-control-feedback text-danger fuel_to_vehicle_fuel_type"></small>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :fueling, 'Litros: ', class: 'col-form-label col-sm-3 col-md-4' %>
    <div class="col-sm-9 col-md-6">
      <%= form.number_field :fueling, step:'0.01', class: 'form-control', required: true %>
      <small class="invalid-feedback fuel_to_vehicle_fueling"></small>
    </div>
  </div>

  <div class="form-group row d-none">
    <%= form.label :mileage, 'Kilometraje: ', class: 'col-form-label col-sm-3 col-md-4' %>
    <div class="col-sm-9 col-md-6">
      <%= form.number_field :mileage, step:'0.01', class: 'form-control', required: true %>
      <small class="invalid-feedback fuel_to_vehicle_mileage"></small>
    </div>
  </div>

  <div class="form-group row d-none">
    <%= form.label :hours, 'Horas: ', class: 'col-form-label col-sm-3 col-md-4' %>
    <div class="col-sm-9 col-md-6">
      <%= form.number_field :hours, step:'0.01', class: 'form-control', required: true %>
      <small class="invalid-feedback fuel_to_vehicle_hours"></small>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :preson_load_id, 'Carga (*)', class:'col-form-label col-sm-3 col-md-4' %>
    <div class="col-sm-8 col-lg-6">
      <%= form.select(:person_load_id, Person.actives.order(:last_name).collect {|p| [p.fullname, p.id]}, { include_blank: true},
                      class: 'form-control select-person-load') %>
      <small class="form-control-feedback text-danger fuel_to_vehicle_person_load"></small>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :person_authorize_id, 'Autoriza (*)', class:'col-form-label col-sm-3 col-md-4' %>
    <div class="col-sm-8 col-lg-6">
      <%= form.select(:person_authorize_id, Person.actives.where(can_authorize: true).order(:last_name).collect {|p| [p.fullname, p.id]}, { include_blank: true},
                      class: 'form-control select-person-authorize') %>
      <small class="form-control-feedback text-danger fuel_to_vehicle_person_authorize"></small>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :ticket_book_id, 'N° de vale: ', class: 'col-form-label col-2' %>
    <div class="col-4">
      <%= form.select(:ticket_book_id, @ticket_books.collect {|p| [p.name, p.id]}, 
                      { include_blank: true},
                      class: 'form-control select-ticket-book',
                      onchange: 'get_tickets()') %>
      <small class="invalid-feedback fuel_to_vehicle_ticket_book"></small>
    </div>
    <div class="col-4">
      <select name="fuel_to_vehicle[ticket_id]" id="fuel_to_vehicle_ticket_id" class="form-control select-ticket"></select>
      <small class="text-danger fuel_to_vehicle_ticket"></small>
    </div>
  </div>

  <div id="info_alert" class="col-10" style="display: none;">
    <!-- Alert Danger -->
    <div class="alert fade show g-bg-blue-opacity-0_1 rounded-0" role="alert">
      <div class="media">
        <div class="media-body">
        </div>
      </div>
    </div>
    <!-- End Alert Danger -->
  </div>

  <div class="actions">
    <%= form.submit 'Guardar', class: 'btn u-btn-primary mr-2' %>
    <button type="button" class="btn u-btn-red" data-dismiss="modal">Cerrar</button>
  </div>
<% end %>
