<p id="notice"><%= notice %></p>

<h1>Fuel To Vehicles</h1>

<table>
  <thead>
    <tr>
      <th>Vehicle</th>
      <th>Fueltruk</th>
      <th>Date</th>
      <th>Fueling</th>
      <th>Mileage</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fuel_to_vehicles.each do |fuel_to_vehicle| %>
      <tr>
        <td><%= fuel_to_vehicle.vehicle %></td>
        <td><%= fuel_to_vehicle.fuelTruk %></td>
        <td><%= fuel_to_vehicle.date %></td>
        <td><%= fuel_to_vehicle.fueling %></td>
        <td><%= fuel_to_vehicle.mileage %></td>
        <td><%= fuel_to_vehicle.active %></td>
        <td><%= link_to 'Show', fuel_to_vehicle %></td>
        <td><%= link_to 'Edit', edit_fuel_to_vehicle_path(fuel_to_vehicle) %></td>
        <td><%= link_to 'Destroy', fuel_to_vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fuel To Vehicle', new_fuel_to_vehicle_path %>
