
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">¿ Esta seguro de desvincular este documento ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div id="document_profile_data"></div>

        <div class="alert g-bg-red-opacity-0_1 g-color-lightred mb-2">
          Tenga en cuenta que se eliminara tambien el documento y renovaciones de personas/vehiculos que tengan este perfil. <br>
          Si la persona/vehiculo tiene mas de un perfil con este documento, no sera afectado.
        </div>
        <%= form_with(url: disable_document_profile_path, id: 'form-disable-document-profile') do |form| %>
          <%= form.hidden_field :document_profile_id, value: documents_profile_id %>
          <div class="form-group g-mb-10">
            <%= form.label :end_date, 'Fecha finalización vigencia:', class: "col-form-label" %>
            <%= form.date_field :end_date, class: "form-control u-form-control"%>
            <small class="form-control-feedback text-danger end_date"></small>
          </div>
          <%= form.submit 'Eliminar', class: 'btn u-btn-red g-mr-10' %>
          <button type="button" data-dismiss="modal" class="btn u-btn-teal g-mr-10"> Cerrar </button>
        <% end %>
      </div>
    </div>
  </div>
