<h1>Cargas de combustible</h1>

<div class="row ml-1">
  <%= link_to "<i class='fa fa-plus'></i> Registrar camion".html_safe, new_fuel_supplier_path(),
    remote: true, data: { toggle: :modal, target: '#modal' }, 
    class: 'btn u-btn-outline-indigo u-btn-hover-v1-2 mb-2 mr-4' %>

  <%= link_to "Reporte del mes ".html_safe, modal_fuel_report_reports_path(), 
                remote: true, class: 'btn u-btn-outline-cyan u-btn-hover-v1-2 mb-2 mr-4'%>

  <%= link_to "<i class='fa fa-book'></i> Talonarios".html_safe, ticket_books_path(), remote: true,
    class: 'btn u-btn-outline-pink u-btn-hover-v1-2 mb-2 mr-4' %>
  <%= link_to "<i class='fa fa-users'></i> Config personas".html_safe, permission_fuel_load_people_path(), remote: true,
    class: 'btn u-btn-outline-purple u-btn-hover-v1-2 mb-2 mr-4' %>
  <%= link_to "<i class='fa fa-car'></i> Config internos".html_safe, admin_units_load_vehicles_path(), remote: true,
    class: 'btn u-btn-outline-orange u-btn-hover-v1-2 mb-2 mr-4' %>
    
    <%= link_to "<i class='fa fa-file'></i> Importar".html_safe, import_excel_fuel_to_vehicles_path(),
      class: 'btn u-btn-outline-purple u-btn-hover-v1-2 mb-2 mr-4' %>
</div>

<%= render( partial: 'shared/table', 
            locals: { table_id: 'fuel_suppliers', 
                      color: 'blue', 
                      icon: 'fa-gear',
                      title: "Camiones de carga de combustible", 
                      col_names: [ 'Nombre', 'Tipo','Carga actual' ,'Descripcion', 'Acciones' ] }) %>


<%= link_to "<i class='fa fa-plus'></i> Carga a vehiculo".html_safe, new_fuel_to_vehicle_path(),
      remote: true,
      class: 'btn u-btn-outline-indigo u-btn-hover-v1-2 mb-2' %>

<%= link_to "<i class='fa fa-book'></i> Cierres".html_safe, closures_path(),
              remote: true, 
              class: 'btn u-btn-outline-brown u-btn-hover-v1-2 mb-2 ml-4' %>

<%= render( partial: 'shared/table', 
            locals: { table_id: 'fuel_vehicles', 
                      color: 'blue', 
                      icon: 'fa-gear',
                      title: "Cargas a vehiculos", 
                      col_names: [ 'Fecha','Vehiculo','KM', 'HS' ,'Litros','Tipo', 'Estación','Carga','Autoriza','Ticket','Centro de costos','Acciones' ] }) %>


<div class="modal fade" id="ticket_books" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
</div>

<div class="modal fade" id="ticket_book_create" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
</div>

<div class="modal fade" id="tickets_crud" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
</div>