<p id="notice"><%= notice %></p>

<h1>Expiration Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expiration_types.each do |expiration_type| %>
      <tr>
        <td><%= expiration_type.name %></td>
        <td><%= expiration_type.description %></td>
        <td><%= expiration_type.active %></td>
        <td><%= link_to 'Show', expiration_type %></td>
        <td><%= link_to 'Edit', edit_expiration_type_path(expiration_type) %></td>
        <td><%= link_to 'Destroy', expiration_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expiration Type', new_expiration_type_path %>
