<p id="notice"><%= notice %></p>

<h1>Vehicle Locations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicle_locations.each do |vehicle_location| %>
      <tr>
        <td><%= vehicle_location.name %></td>
        <td><%= vehicle_location.description %></td>
        <td><%= vehicle_location.active %></td>
        <td><%= link_to 'Show', vehicle_location %></td>
        <td><%= link_to 'Edit', edit_vehicle_location_path(vehicle_location) %></td>
        <td><%= link_to 'Destroy', vehicle_location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehicle Location', new_vehicle_location_path %>
