<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @vehicle_service.date %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @vehicle_service.vehicle %>
</p>

<p>
  <strong>Mileage:</strong>
  <%= @vehicle_service.mileage %>
</p>

<p>
  <strong>Mileage next service:</strong>
  <%= @vehicle_service.mileage_next_service %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @vehicle_service.comment %>
</p>

<%= link_to 'Edit', edit_vehicle_service_path(@vehicle_service) %> |
<%= link_to 'Back', vehicle_services_path %>
