<div class="modal-dialog modal-xl" role="document">
  <div class="modal-content">
    <div class="modal-header g-brd-blue g-bg-blue">
      <h5 class="modal-title text-white"><strong><%= @title_modal%></strong></h5>
      <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <%= link_to "<i class='fa fa-plus'></i> Registrar talonario".html_safe, new_ticket_book_path(), remote: true,
          class: 'btn u-btn-outline-cyan u-btn-hover-v1-2 mb-2 mr-4' %>
      <%= render( partial: 'shared/table', 
            locals: { table_id: 'ticket_books', 
                      color: 'blue', 
                      icon: 'fa-book',
                      title: "Talonarios", 
                      col_names: [ 'Nombre', 'Desde - Hasta','Usado' ,'Completado', 'Acciones' ] }) %>
    </div>
  </div>
</div>

<!-- Modal para eliminar talonario -->
<div class="modal fade" id="modal-disable-ticket-book" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">¿ Esta seguro de dar de baja este talonario ?</h5>
        <button type="button" class="close" onclick="close_modal('modal-disable-ticket-book')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with(url: disable_ticket_books_path, id: 'form-disable-ticket-book') do |form| %>
          <%= form.hidden_field :ticket_book_id %>
          <%= form.submit 'Eliminar', class: 'btn u-btn-red g-mr-10' %>
          <button type="button" class="btn u-btn-teal g-mr-10" onclick="close_modal('modal-disable-ticket-book')"> Cerrar </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- Fin modal eliminar talonario -->