<%= form_with(model: @vehicle, multipart: true, class: 'g-pa-5 g-mb-5', id: 'form-vehicle-add-images') do |form| %>
	<div class="row">
		<div class='col-4'>
	    <label class="u-file-attach-v2 g-color-gray-dark-v5 mb-0">
	      <%= form.file_field :images, multiple: true %>
	      <i class="icon-cloud-upload g-font-size-16 g-pos-rel g-top-2 g-mr-5"></i>
	      <span class="js-value">Anexar imágenes</span>
	      <small class="form-control-feedback text-danger vehicle_images"></small>
	    </label>
	  </div>
	  <div class="col-2">
	  	<%= form.submit 'Agregar', class: 'btn u-btn-primary' %>
	  </div>
	</div>
<% end %>
<hr>
<div class="container-fluid">
	<div id="vehicle_images_galery" class="row">
		<% @vehicle.images.each do |image| %>
			<div class="col-2 mr-1">
				<% if image.image? %>
					<%= link_to image, target: '_blank' do %>
				    <%= image_tag image.variant(resize: "100x100"), class: 'img-thumbnail' %>
				  <%end%>
				<% else %>
					<%= link_to '<i class="fa fa-file-pdf-o fa-2x"></i>'.html_safe, image, target: '_blank' %>
				<% end %>
			  <a href="#" class="btn u-btn-red btn-xs" data-id=<%= image.signed_id %> onclick="remove_vehicle_image()"> Eliminar </a>
			</div>
		<% end %>
	</div>
</div>