<p id="notice"><%= notice %></p>

<h1>Document Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @document_categories.each do |document_category| %>
      <tr>
        <td><%= document_category.name %></td>
        <td><%= document_category.description %></td>
        <td><%= document_category.active %></td>
        <td><%= link_to 'Show', document_category %></td>
        <td><%= link_to 'Edit', edit_document_category_path(document_category) %></td>
        <td><%= link_to 'Destroy', document_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Document Category', new_document_category_path %>
