<!DOCTYPE html>
<html>
  <head>
    <title>PQD | Gestion de documentos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if logged_in? %>
    <%= render('shared/nav') %>
      <main class="container-fluid">
        <%= yield %>
        <input type="hidden" id="d_type" value=<%= params[:d_type] %> >
        <div class="modal fade" id="modal" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        </div>
      </main>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
